
{{!-- {{backgammon/profile-editor errors=errors}}
<button type="button" name="button" {{action 'errorsaction'  }}>errors</button>
{{backgammon/did-render items=items }}
{{#backgammon/blog-post editStyle="markdown-style" postData=myText as |post|}}
  <p class="author">by {{author}}</p>
  {{body}}
{{/backgammon/blog-post}} --}}

{{input type='text' value=invalue onchange=(action "changeinput" invalue) }}

{{destination.id}}
{{#power-select
  options=countries
  selected=destination
  onchange=(action "foo")
  as |country|
}}
  <span class={{country.id}}>
    <strong>{{country.name}}</strong>
  </span>
{{/power-select}}
