  <div class="service_item flex-column text-center  w100p">
    <header class="{{if isChild '' 'service_center_header'}}">
      {{#unless isChild}}
        <div class="service_item_item">
          <div class="service_center_name f14 text-ellipsis  {{isfirefox}}" title={{service_center_name}}>
            {{service_center_name}}
          </div>
          <div class="service_center_mgr f14  text-ellipsis">
            {{service_center_mgr}}
          </div>
        </div>
      {{/unless}}
    </header>

    <ul class="service_center_list flex">
      {{#each centerItems as |item index|}}
      <li class="service_center_item" >
        <div class="service_center_up">
          <div class="service_subItem_name f14 text-ellipsis">{{item.team_name}}</div>
          <div class="service_subItem_mgr f14 text-ellipsis">{{item.leader.name}}</div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
