
<ul class="errors">
  {{#each er as |error|}}
    <li>{{error.message}}</li>
  {{/each}}
</ul>
<fieldset>
  {{input name="user.name" value=name change=(action "required")}}
  {{input name="user.department" value=department change=(action "required")}}
  {{input name="user.email" value=email change=(action "required")}}
</fieldset>
{{backgammon/blog-post}}
<button type="button" name="button" {{action 'eraction'  }}>eraction</button>
